html, body {
  height:100%;
}

body {
  padding:14px;
}

div#navbar {
  width:100%;
  text-align: right;
}

div.error {
  width:100%;
  margin:0;
  padding:12px;
  color:red;
  font-weight: bold;
}

div.results {
  overflow-y:auto;
  height:58vh;
  width:54vw;
  padding:8px;
  border: 1px solid #afafaf;"
}

div.copy {
  position:absolute;
  font-size:8pt;
  bottom:12px;
  width:97%;
  text-align:right;
}
